* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo {
    mix-blend-mode: multiply;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 5%;
    left: 5%;
}

.container {
    background: linear-gradient(268deg, #aa80ff, #7000e0, #ebd6ff);
    background-size: 600% 600%;

    -webkit-animation: magic 16s ease infinite;
    -moz-animation: magic 16s ease infinite;
    animation: magic 16s ease infinite;
    height: 100vw;
    width: 100vw;
}

@-webkit-keyframes magic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes magic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes magic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    margin-left: 50%;
    margin-right: 10%;
    top: 25%;
}

input {
    background-color: #d6d6d6;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
}

h2 {
    margin: 20px;
    font-size: 26px;
}

h3 {
    margin: 30px;
    padding: 5px;
    width: fit-content;
    font-size: 22px;
}

h3:hover {
    cursor: pointer;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
    padding-left: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.submit-button {
    cursor: pointer;
    width: 120px;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    background: linear-gradient(162deg, #a85fec, #7000e0);
    background-size: 400% 400%;

    -webkit-animation: buttonmagic 11s ease infinite;
    -moz-animation: buttonmagic 11s ease infinite;
    animation: buttonmagic 11s ease infinite;
}

@-webkit-keyframes buttonmagic {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@-moz-keyframes buttonmagic {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@keyframes buttonmagic {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}

button:hover {
    color: black;
}

.confirmpass {
    width: 320px;
    text-align: left;
}

.confirmpass2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#passwordnotice {
    color: red;
    padding-left: 10px;
}

.switch-button {
    color: black;
    text-decoration: none;
}